body {
    margin: 1.5em;
    min-height: 90vh;
    background-color: #534a53;
    user-select: none;
    font-family: 'Poppins', sans-serif;
}

.content {
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    
    .logo {
        width: 550px;
        height: 300px;
    }
    
    .input {
        width: 350px;
        height: 40px;
        border-radius: 1em;
        margin-left: 100px;
        margin-bottom: 22px;
        padding-left: 1rem;
        background-color: rgb(255, 255, 255);
        border: none;
        outline: none;
    }
    
    .btn {
        margin-left: 320px;
        width: 150px;
        height: 50px;
        background-color: #f7c309;
        border-radius: 1em;
        outline: none;
        border: none;
        cursor: pointer;
        transition: .3s;

        &:hover {
            background-color: #e0b310;
        }
    }

    .fbtn {
        width: 150px;
        color: white;
        margin-left: 110px;
        text-decoration: none;
        cursor: pointer;

        &:hover {
            background: none;
            text-decoration: underline;
        }
    }
}

#popupwindow {
    background-color: rgba(0, 0, 0, 0.479);
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;

    #popup {
        position: absolute;
        width: 70%;
        height: 350px;
        background-color: rgba(255,255,255,100%);
        border-radius: 15px;
        margin-left: auto;
        margin-right: auto;
        left: 50%;
        right: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        z-index: 1;
    
    
        button {
            position: absolute;
            right: 0;
            bottom: 0;
            padding: 8px 50px;
            background-color: rgb(66, 3, 3);
            border: 0;
            margin-bottom: 15px;
            margin-right: 15px;
            border-radius: 10px;
            color: white;
            font-size: 18px;
            font-family: 'Poppins', sans-serif;
            cursor: pointer;

            &:hover {
                background-color: rgba(66, 3, 3, 0.842)
            }
        }
    
        img {
            width: 125px;
        }

        p {
            color: black;
            text-align: center;
            padding-left: 5%;
            padding-right: 5%;
            font-size: 130%;
            transform: translate(0,+50%);
            font-weight: 1000;
        }
    } 
}

.banner {
    width: 100%;
    background-color: #534a53;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: -1px;
}

.NepareizaParole {
    position: absolute;
    color: rgb(255, 255, 255);
    margin-top: 270px;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    left: 50%;
    right: 50%;
    margin-left: -165px;
}

@media only screen and (min-width: 800px) {
    #popupwindow {
        #popup {
            width: 550px;
        
            p {
                font-size: 25px;
            }
        } 
    }    
}