body{
    margin: 0;
    background-color: #e0e0e050;
    font-family: 'Poppins', sans-serif;
}

.img {
    margin-top: 200px;
    margin-left: 450px;
    width: 40%;
    height: 250px;
}

h1 {
    text-align: center;
}